.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  border: none;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content span {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content span:hover {
  color: #FFFFFF;
  background-color: gray;
}

.dropbutton{
    color: inherit;
    background-color: inherit;
    border: none;
    width: 50px;
}